

body {
  background-color: lightseagreen;

  background-size: cover;
  background-repeat: no-repeat;
  00color: #FFF;
}

.wrapper {
  width: 4000px;
  margin: 0 auto;
  border: 1px solid black;
}

.header {
  border: 1px solid rgb(0, 23, 128);
}

section {
  background-color: rgba(0,0,0,0.5);
}
